.blog__item__number  {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #818181;
  mix-blend-mode: normal;
  margin-top: 20px;
  margin-bottom: 7px;
}

.blogs__items li h4 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #1E0606;
  margin-top: 0;
  margin-bottom: 15px;
  width: 380px;
  @media (max-width: 992px) {
    width: 314px;
  }
}

.blog__item__inftext {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #1E0606;
  margin-top: 0px;
  margin-bottom: 20px;
  width: 380px;
  @media (max-width: 992px) {
    width: 314px;
  }
}