<footer>
  <div class="container">
      <div class="columns">
          <div class="columns__first">
            <h4 class="columns__first-title">Navigation</h4>
            <hr class="columns__first-trait">
            <ul class="columns__first-main">
              <ul>
              <li class="columns__first-main-item"><a  href="#">About Us</a></li>
              <li class="columns__first-main-item"><a href="#">Blog</a></li>
              <li class="columns__first-main-item"><a href="#">Design Services</a></li>
              </ul>
              <ul class="mobile-first-column">
              <li class="columns__first-main-item"><a href="#">Featured On</a></li>
              <li class="columns__first-main-item"><a href="#">2018 Holiday Catalog</a></li>
              <li class="columns__first-main-item-last"><a href="#">Shop By Designer</a></li>
              </ul>
            </ul>
          </div>
          <div class="columns__second">
            <h4 class="columns__second-title">Customer Information</h4>
            <hr class="columns__second-trait">
            <ul class="columns__second-main">
              <ul>
              <li class="columns__second-main-item"><a href="#">Contact Us</a></li>
              <li class="columns__second-main-item"><a href="#">Sale Exclusions</a></li>
              <li class="columns__second-main-item"><a href="#">Shipping & Returns</a></li>
              </ul>
              <ul class="mobile-second-column">
              <li class="columns__second-main-item"><a href="#">Terms & Conditions</a></li>
              <li class="columns__second-main-item"><a href="#">Privacy Policy</a></li>
              <li class="columns__second-main-item"><a href="#">Search</a></li>
              </ul>
            </ul>
          </div>
          <div class="columns__third">
            <h4 class="columns__third-title">Connect</h4>
            <hr class="columns__third-trait">
            <ul class="columns__third-input">
              <li class="columns__third-input-item">
                <input type="email" class="form-control"  placeholder="Email">
                <button class="btn last-btn" type="button"><span class="last-btn-join">JOIN</span></button>
              </li>
            </ul>
            <ul class="columns__third-main">
              <li class="columns__third-main-item">
                <a href="#" class="img-facebook"><img src="img/icon/Facebook.svg" alt="facebook"></a>
              </li>
              <li class="columns__third-main-item">
                <a href="#"><img src="img/icon/Twitter.svg" alt="twitter"></a>
              </li>
              <li class="columns__third-main-item">
                <a href="#"><img src="img/icon/Pinterest.svg" alt="pinterest"></a>
              </li>
              <li class="columns__third-main-item">
                <a href="#"><img src="img/icon/Instagram.svg" alt="instagram"></a>
              </li>
            </ul>
          </div>
      </div>
      <div class="footer-of-footer">
        <hr class="footer-of-footer__trait">
        <ul class="footer-of-footer__rating" data-total-value="0">
          <li class="footer-of-footer__rating-item" data-item-value="5">★</li>
          <li class="footer-of-footer__rating-item" data-item-value="4">★</li>
          <li class="footer-of-footer__rating-item" data-item-value="3">★</li>
          <li class="footer-of-footer__rating-item" data-item-value="2">★</li>
          <li class="footer-of-footer__rating-item" data-item-value="1">★</li>
          <li class="company-rating footer-of-footer__rating-item">Company Rating</li>
        </ul>
        <h4 class="footer-of-footer__title-1">Copyright © 2018 Dlk • Design Life Kids</h4>
        <h4 class="footer-of-footer__title-2"><a href="#">Web Design — Direct Line Development</a></h4>
      </div>
  </div>
</footer>