<footer>
  <div class="container">
      <div class="row">
          <div class="column-first">
            <h4>Navigation</h4>
            <hr>
            <ul class="list-unstyled1">
              <li class="itemlist1"><a href="#">About Us</a></li>
              <li class="itemlist1"><a href="#">Blog</a></li>
              <li class="itemlist1"><a href="#">Design Services</a></li>
              <li class="itemlist1"><a href="#">Featured On</a></li>
              <li class="itemlist1"><a href="#">2018 Holiday Catalog</a></li>
              <li class="last1"><a href="#">Shop By Designer</a></li>
            </ul>
          </div>
          <div class="column-second">
            <h4>Customer Information</h4>
            <hr>
            <ul class="list-unstyled2">
              <li class="itemlist2"><a href="#">Contact Us</a></li>
              <li class="itemlist2"><a href="#">Sale Exclusions</a></li>
              <li class="itemlist2"><a href="#">Shipping & Returns</a></li>
              <li class="itemlist2"><a href="#">Terms & Conditions</a></li>
              <li class="itemlist2"><a href="#">Privacy Policy</a></li>
              <li class="last2"><a href="#">Search</a></li>
            </ul>
          </div>
          <div class="column-third">
            <h4>Connect</h4>
            <hr>
            <ul>
              <li class="email-item">
                <input type="email" class="form-control"  placeholder="Email">
                <button class="btn last-btn" type="button"><span class="last-btn-join">JOIN</span></button>
              </li>
            </ul>
            <ul class="list-unstyled3">
              <li class="socialmediia">
                <a href="#" class="img-facebook"><img src="img/icon/Facebook.svg" alt="facebook"></a>
              </li>
              <li class="socialmediia">
                <a href="#"><img src="img/icon/Twitter.svg" alt="twitter"></a>
              </li>
              <li class="socialmediia">
                <a href="#"><img src="img/icon/Pinterest.svg" alt="pinterest"></a>
              </li>
              <li class="socialmediia">
                <a href="#"><img src="img/icon/Instagram.svg" alt="instagram"></a>
              </li>
            </ul>
          </div>
      </div>
      <div class="footer-of-footer">
        <hr>
        <ul class="rating" data-total-value="0">
          <li class="rating__item" data-item-value="5">★</li>
          <li class="rating__item" data-item-value="4">★</li>
          <li class="rating__item" data-item-value="3">★</li>
          <li class="rating__item" data-item-value="2">★</li>
          <li class="rating__item" data-item-value="1">★</li>
          <li class="company-rating rating__item">Company Rating</li>
        </ul>
        <h4 class="copyright">Copyright © 2018 Dlk • Design Life Kids</h4>
        <h4 class="web-design"><a href="#">Web Design — Direct Line Development</a></h4>
      </div>
  </div>
</footer>