<header class="container header__container">
  <a href="index.html" class="logo">
    <img src="/img/dlk.png" alt="logo" width="101" height="52" >
  </a>
  <ul class="header__list">
    <li class="header__list__item"><a href="Blog.html">BLOG</a></li>
    <li class="header__list__item"><a href="Catalog.html">CATALOG</a></li>
    <li class="header__list__item"><a href="#">ABOUT US</a></li>
  </ul>
  <ul class="header__contact">
    <li class="header__contact__item"><a href="#" class="search"><img src="img/search.png" alt="search" width="18" height="18"></a></li>
    <li class="header__contact__item header__contact__contactus"><a href="ContactUs.html">CONTACT US</a></li>
  </ul>
</header>