<div class="container main-inf-page">
  <div class="popup__main">
    <div class="container container-form">
    <form class="popup-form__main">
      <div class="label-wrapper">
        <label for="input-name">Name</label>
        <input class="input-first-name" type="text" id="input-name" placeholder="Ivan Ivanov">
      </div>
      <div class="label-wrapper__for-two-sec">
      <div class="wrapper-phone">
        <label for="input-phone">Phone</label>
        <input class="input-phone" type="tel" id="input-phone">
      </div>
      <div class="wrapper-email">
        <label for="input-email">Email</label>
        <input class="input-email" type="email" id="input-email">
      </div>
      </div>
      <div class="label-wrapper-message">
        <label>Message</label>
        <textarea class="input-message"></textarea>
      </div>
      <div class="wrapper-consent">
        <input type="checkbox" class="custom-checkbox_contactus"  id="happy" name="happy" value="yes">
        <label for="happy" class="consent-text">By clicking on the button, you consent to the processing of your personal data</label>
      </div>
      <div class="submit-end">
        <button type="button" class="btn submit__main">Submit</button>
      </div>
      </form>
      <div class="popup-close"></div>
      </div>
    </div>
</div>